
    <h1>INFORMACIÓ ALUMNAT TIC BARCELONA</h1>
    <div>
        <label> <strong>Nom:</strong> </label> {{nom}}
    </div>

    <div>
        <label> <strong>Primer cognom: </strong></label> {{cognom1}}
    </div>    
    
    <div>
        <label><strong>Segon cognom:</strong></label> {{cognom2}}
    </div>

    <div>
        <label><strong>Correu:</strong></label> {{correu}}
    </div>

    <div>
        <label><strong>Curs:</strong></label> {{curs}}
    </div>    
        
    <div>
        <label><strong>Móduls:</strong></label> {{moduls}}
    </div>

