{% include "head/header.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detall Alumne</title>
</head>
<body>
    <h1>DETALL DE L'ALUMNE</h1>  
    

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Primer Cognom</th>
                <th>Segon Cognom</th>
                <th>Correu</th>
                <th>Curs</th>
                <th>Mòduls</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ alumne.id }}</td>
                <td>{{ alumne.name }}</td>
                <td>{{ alumne.surname1 }}</td>
                <td>{{ alumne.surname2 }}</td>
                <td>{{ alumne.email }}</td>
                <td>{{ alumne.curse }}</td>
                <td>{{ alumne.modules }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <a href="{% url 'llistat_alumnes' %}">Tornar al llistat</a>
</body>
{% endblock %}
