{% include "head/header.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professorat</title>
</head>
<body>
    <h1>INFORMACIÓ PROFESSORAT TIC BARCELONA</h1>    
    <table border="1">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Primer Cognom</th>
                <th>Correu</th>
                <th>Curs</th>
                <th>Mòduls</th>
            </tr>
        </thead>
        <tbody>
            {% for professor in professors %}
            <tr>
                <td>{{ professor.name}}</td>
                <td>{{ professor.surname1}}</td>
                <td>{{ professor.email}}</td>
                <td>{{ professor.curse}}</td>
                <td>{{ professor.modules}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
{% endblock %}